<div class="container-fluid">
  <div class="row">
    <!-- Navbar-->
    <header class="header">
      <nav
        class="navbar navbar-expand-md   py-3 bg-light  d-flex justify-content-center"
      >
        <div class="container">
          <a
            href="#"
            class="navbar-brand text-uppercase font-weight-bold text-dark "
            style="font-size: x-large;"
            >Surf co.</a
          >
          <!-- <button type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler navbar-toggler-right"><i class="fa fa-bars"></i></button> -->
  
          <div id="navbarSupportedContent" class="collapse navbar-collapse">
            <ul class="navbar-nav ml-5 mr-5">
              <li class="nav-item">
                <a href="#" id="surfer" class=" nav-link text-lowercase font-weight-bold"
                  >Home <span class="sr-only">(current)</span></a
                >
              </li>
              <li class="nav-item">
                <a href="#" id="surfer" class=" nav-link text-uppercase font-weight-bold"
                  >About</a
                >
              </li>
              <li class="nav-item">
                <a href="#" id="surfer" class=" nav-link text-uppercase font-weight-bold"
                  >Gallery</a
                >
              </li>
              <li class="nav-item">
                <a href="#" id="surfer" class=" nav-link text-uppercase font-weight-bold"
                  >Portfolio</a
                >
              </li>
              <li class="nav-item">
                <a href="#" id="surfer" class=" nav-link text-uppercase font-weight-bold"
                  >Contact</a
                >
              </li>
              <li class="nav-item ml-5"><i class="fab fa-facebook"></i></li>
              <li class="nav-item ml-5"><i class="fab fa-instagram"></i></li>
              <li class="nav-item ml-5"><i class="fas fa-envelope"></i></li>
            </ul>
          </div>
        </div>
      </nav>
    </header>
    <!-- body -->
    <div  class="clearfix"></div>
    <div class="mainbox">
     
      <div class="container">
        <div class="d-flex">
          <div class="firstbox">
            <img src="../assets/transparent-surfboard-ground-1.png" alt="Surfboard">
          </div>
          <div class="secondbox">
            <h3>JR SurfBoard The donny Stroke</h3>
            <br>
            <div class="container">
              <div class="starrating risingstar  flex-row-reverse">
                  <input  id="star5"  /><label for="star5" ><i class="fas fa-star"></i></label>
                  <input type="radio" id="star4" name="rating" value="4" /><label for="star4" title="4 star"><i class="fas fa-star"></i></label>
                  <input type="radio" id="star3" name="rating" value="3" /><label for="star3" title="3 star"><i class="fas fa-star"></i></label>
                  <input type="radio" id="star2" name="rating" value="2" /><label for="star2" title="2 star"><i class="fas fa-star"></i></label>
                  <input type="radio" id="star1" name="rating" value="1" /><label for="star1" title="1 star"><i class="fas fa-star"></i></label>
              </div>
        </div>	
            <!-- <ul class="nav nav-tabs routerL">
              <li class="nav-item ">
                <a class="nav-link" href="#">Description</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Feature</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Dimention</a>
              </li>
            </ul> -->
            <mat-tab-group>
              <mat-tab label="First">
                 <p class="textS">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum possimus eius aut architecto aliquam, quos libero, vel mollitia dolore numquam repellendus minus eveniet commodi quam et fugiat quisquam esse illo.
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quod mollitia voluptates voluptatum est dolorem aut alias corrupti ea id earum delectus, vero enim architecto odio molestias eveniet minus eaque placeat.
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt eaque voluptatem eos recusandae sit repellendus hic quaerat pariatur amet adipisci. Iste excepturi cum rerum placeat similique, non eius consectetur hic?
              </p>
            </mat-tab>
              <mat-tab label="Second">  </mat-tab>
              <mat-tab label="Third"> Content 3 </mat-tab>
            </mat-tab-group>
            
            <div class="foot">
              <div class="price">
                <p>199.99$</p>
              </div>
              <div class="buton">
                <button class="btn btn-primary">Buy</button>
              </div>
            </div>
          </div>
        </div>
        

      </div>
    </div>
  
  </div>
  
</div>